
    <h2>Flight Detail</h2>    
        Flight : {{ flight.id }} <br>
        Origin: {{flight.origin}} <br>
        Destination: {{flight.destination}} <br>


        <h2>Passesngers on Flight</h2>

        {% for passenger in passengers %}
        <li>{{ passenger }}</li>
        {% empty %}
        No Passesngers
        {% endfor %}
<br>

<h2>Add Passesnger</h2>
<form action="{% url 'flights:book' flight.id %}" method="POST">
    {% csrf_token %}
    <select name="passenger">
        {% for passenger in non_passengers %}
        <option value="{{ passenger.id }}">{{ passenger }}</option>
        {% endfor %}
    </select>
    <input type="submit">

</form>

<a href="{% url 'flights:index' %}">Back to Flights</a>